@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Fashion Fetish';
  src: url('./assets/fonts/Fashion-Fetish-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Fashion Fetish';
  src: url('./assets/fonts/Fashion-Fetish-Light-Italic.ttf');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Fashion Fetish';
  src: url('./assets/fonts/Fashion-Fetish-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Fashion Fetish';
  src: url('./assets/fonts/Fashion-Fetish-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'NewYork';
  src: url('./assets/fonts/NewYork.otf');
  font-weight: 400;
  font-style: normal;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

address,
em {
  font-style: normal;
}
